# Add any directories, files, or patterns you don't want to be tracked by version control

# MacOS files
.DS_Store
._*

# PyCharm specific
/.idea

# Build artifacts
build/
*.so
*.egg-info/
__pycache__/

# OpenFOAM specific symlinks and makes
src/adjoint/lnInclude/
src/adjoint/Make/linux64GccDPInt32Opt/

# Temporary files
status
run.sh
