[coverage:run]
parallel = true
include = /home/dafoamuser/dafoam/packages/miniconda3/lib/python3.9/site-packages/dafoam/pyDAFoam.py, /home/dafoamuser/dafoam/packages/miniconda3/lib/python3.9/site-packages/dafoam/mphys/mphys_dafoam.py
