name: docker

on:
  push:
    branches:
      - v4

env:
  DOCKER_ENV_FILE: '/home/dafoamuser/dafoam/loadDAFoam.sh'

jobs:
  push_to_registry:
    name: Deploy
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3
    - name: Build and push
      run: |
        echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u dafoam --password-stdin
        docker pull dafoam/opt-packages:v4
        docker run -i -d -u dafoamuser --name build_v4 dafoam/opt-packages:v4 /bin/bash
        docker exec -e COMPILE_DAFOAM_ADF=1 -i build_v4 /bin/bash -c ". ${{env.DOCKER_ENV_FILE}} && cd /home/dafoamuser/dafoam/repos && git clone https://github.com/mdolab/dafoam && cd dafoam && git checkout v4 && ./Allmake"
        docker export build_v4 > build_v4.tar
        docker rm -f $(docker ps -a -q)
        docker rmi -f dafoam/opt-packages:v4
        docker import build_v4.tar dafoam/opt-packages:v4
        docker push dafoam/opt-packages:v4
