name: tests

on: [push, pull_request]

env:
  REPO_NAME: 'dafoam'
  DOCKER_WORKING_DIR: '/home/dafoamuser/dafoam/$REPO_NAME'
  DOCKER_MOUNT_DIR: '/home/dafoamuser/mount/$REPO_NAME'
  DOCKER_TAG: 'tests'
  DOCKER_ENV_FILE: '/home/dafoamuser/dafoam/loadDAFoam.sh'
  DOCKER_OF_ADF_BASHRC: '/home/dafoamuser/dafoam/OpenFOAM/OpenFOAM-v1812-ADF/etc/bashrc'
  DOCKER_OF_ADR_BASHRC: '/home/dafoamuser/dafoam/OpenFOAM/OpenFOAM-v1812-ADR/etc/bashrc'

jobs:

  reg_tests:
    runs-on: ubuntu-18.04
    name: Tests
    strategy:
      fail-fast: false
      matrix: 
        testConfig: [incompressible, compressible, solid, forward, mphys_incomp, mphys_comp]
        include:
          - testConfig: incompressible
            args: 'incompressible'
          - testConfig: compressible
            args: 'compressible'
          - testConfig: solid
            args: 'solid'
          - testConfig: forward
            args: 'forward'
          - testConfig: mphys_incomp
            args: 'mphys_incomp'
          - testConfig: mphys_comp
            args: 'mphys_comp'
    steps:
    - uses: actions/checkout@v2
    - name: Create the docker container and run the tests
      run: |
        docker pull dafoam/opt-packages:${{env.DOCKER_TAG}}
        docker run -i -d -u dafoamuser --name regtest -v $GITHUB_WORKSPACE:${{env.DOCKER_MOUNT_DIR}} dafoam/opt-packages:${{env.DOCKER_TAG}} /bin/bash
        docker exec -i regtest /bin/bash -c "rm -rf ${{env.DOCKER_WORKING_DIR}} && cp -r ${{env.DOCKER_MOUNT_DIR}} ${{env.DOCKER_WORKING_DIR}}"
        if [ "${{matrix.args}}" = "forward" ]; then
           docker exec -i regtest /bin/bash -c ". ${{env.DOCKER_ENV_FILE}} && cd ${{env.DOCKER_WORKING_DIR}} && ./Allmake incompressible && . ${{env.DOCKER_OF_ADF_BASHRC}} && ./Allclean && ./Allmake incompressible 2> errorLog.txt"
        elif [ "${{matrix.args}}" = "mphys_incomp" ]; then
           docker exec -i regtest /bin/bash -c ". ${{env.DOCKER_ENV_FILE}} && cd ${{env.DOCKER_WORKING_DIR}} && ./Allmake incompressible && . ${{env.DOCKER_OF_ADR_BASHRC}} && ./Allclean && ./Allmake incompressible 2> errorLog.txt"
        elif [ "${{matrix.args}}" = "mphys_comp" ]; then
           docker exec -i regtest /bin/bash -c ". ${{env.DOCKER_ENV_FILE}} && cd ${{env.DOCKER_WORKING_DIR}} && ./Allmake compressible && ./Allclean && ./Allmake solid && . ${{env.DOCKER_OF_ADR_BASHRC}} && ./Allclean && ./Allmake compressible 2> errorLog.txt && ./Allclean && ./Allmake solid 2> errorLog.txt"
        else
           docker exec -i regtest /bin/bash -c ". ${{env.DOCKER_ENV_FILE}} && cd ${{env.DOCKER_WORKING_DIR}} && ./Allmake ${{matrix.args}} && . ${{env.DOCKER_OF_ADR_BASHRC}} && ./Allclean && ./Allmake ${{matrix.args}} 2> errorLog.txt"
        fi
        docker exec -i regtest /bin/bash -c ". ${{env.DOCKER_ENV_FILE}} && cd ${{env.DOCKER_WORKING_DIR}} && pip install ."
        docker exec -i regtest /bin/bash -c ". ${{env.DOCKER_ENV_FILE}} && cd ${{env.DOCKER_WORKING_DIR}}/tests && ./Allrun ${{matrix.args}}"

